body {
    background-image:url("./background.jpg");
    background-attachment: fixed;
    background:linear-gradient(to top,white,rgb(208, 156, 156));
    
}

.nav {
    background-color: black;
    opacity: 80%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: auto;
    width: 100%;
}

.nav ul {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-bottom: 10;
}

.nav ul li {
    display: inline;
}

.nav ul a {
    color: lightgray;
    text-decoration: none;
    letter-spacing: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

.marginLeft-0 {
    margin-left: 10px;
}

.marginLeft-10 {
    margin-left: 30px;
}

.marginRight-10 {
    margin-right: 30px;
}

#sbutton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-transform: capitalize;
}

#para {
    font-size: 1.3em;
    padding-left: 3%;
    padding-right: 2%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 90%;
}