body {
    background-image: url("./background.jpg");
}

.sidenav {
    width: 10%;
    float: left;
    height: 100vh;
    background-color: hsla(182, 83%, 9%, 0.282);
    border: 2px;
    border-style: solid;
}

.sidenav ul {
    list-style: none;
    margin-left: -20px;
}

.sidenav ul a {
    padding-right: 20px;
    text-transform: capitalize;
    color: darkblue;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    text-align: left;
}

.form {
    padding-left: 1vh;
    position: relative;
    margin-left: 10%;
    border: 2px;
    border-style: solid;
}

.nav {
    background-color: black;
    opacity: 80%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: auto;
    width: 100%;
}

.nav ul {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-bottom: 10;
}

.nav ul li {
    display: inline;
}

.nav ul a {
    color: lightgray;
    text-decoration: none;
    letter-spacing: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

.marginLeft-0 {
    margin-left: 10px;
}

.marginLeft-10 {
    margin-left: 30px;
}

.marginRight-10 {
    margin-right: 30px;
}

#sbutton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-transform: capitalize;
}

#para {
    font-size: 1.3em;
    padding-left: 3%;
    padding-right: 2%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 90%;
}

@media only screen and (max-width:800px) {
    .sidenav {
        width: 20vw;
    }
    .form {
        margin-left: 20vw;
    }
}

@media only screen and (max-width:600px) {
    .sidenav {
        display: none;
    }
    .form {
        width: 100%;
        margin-left: 0;
    }
}

.content {
    margin-left: 13vw;
    margin-right: 3vw;
}

.sideNav {
    float: left;
}

.contect {
    margin-left: 50px;
}

.contect #Comment {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    height: 200px;
}